<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Paradise</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <%- include('./partials/NavBar') %>
    <a href="/item/add-item" style="background-color: #f8f9fa; color: #1a73e8"
      >Add new product</a
    >
    <form action="/category-choice" method="post" id="categoryChoiceForm">
      <label for="category">Choose a category:</label>
      <select id="category" name="category">
        <option value="mobile">Mobiles</option>
        <option value="tablet">Tablets</option>
        <option value="laptop">Laptops</option>
        <option value="tv">Televisions</option>
      </select>
      <input type="submit" />
    </form>
    <% if(locals.listings != undefined){ %> <% for (let i = 0; i <
    locals.listings.length; i++) { %>
    <div class="productListings">
      <ul style="margin: 0; list-style: none; display: flex; gap: 5rem">
        <li>Product ID: <%= locals.listings[i].id %></li>
        <li>Product Name: <%= locals.listings[i].prodname %></li>
        <li>Category: <%= locals.listings[i].category %></li>
        <li>Brand: <%= locals.listings[i].brand%></li>
        <li>Quantity: <%= locals.listings[i].quantity %></li>
        <form action="/update-product" method="get">
          <input
            type="number"
            value="<%= locals.listings[i].id %>"
            name="prodId"
            hidden
          />
          <button type="submit" class="homeUpdateBtn">Update</button>
        </form>
        <form action="/delete-product" method="post">
          <input
            type="number"
            value="<%= locals.listings[i].id %>"
            name="prodId"
            hidden
          />
          <button type="submit" class="homeRemoveBtn">Delete</button>
        </form>
      </ul>
    </div>
    <% } %> <% } %>
  </body>
</html>
